<h2>&lt;iron-collapse&gt;</h2>
<div>
  <label>Opened</label>
  <input type="checkbox" [(ngModel)]="ironCollapseOpened">
  <button (click)="collapse.toggle()">Toggle</button>
</div>
<div>
  <iron-collapse #collapse [(opened)]="ironCollapseOpened">
    <div>Collapsed content</div>
  </iron-collapse>
</div>

<h2>&lt;iron-list&gt;</h2>
<div>

</div>
<div>
  <iron-list [items]="ironListItems">
    <ng-template polymer-template>
      <!-- This is a Polymer template. Angular has no power here. -->
      <div>
        <span>ID: [[item.id]]</span>
        <span>Value: [[item.value]]</span>
      </div>
    </ng-template>
  </iron-list>
</div>
