<h2>&lt;paper-checkbox&gt;</h2>
<div>
  <label>Checked</label>
  <input type="checkbox" [(ngModel)]="paperCheckboxChecked">
  <label>Disabled</label>
  <input type="checkbox" [(ngModel)]="paperCheckboxDisabled">
</div>
<div>
  <paper-checkbox [(checked)]="paperCheckboxChecked"
      [(disabled)]="paperCheckboxDisabled">Checkbox</paper-checkbox>
</div>

<h2>&lt;paper-radio-button&gt;</h2>
<div>
  <label>Checked</label>
  <input type="checkbox" [(ngModel)]="paperRadioButtonChecked">
  <label>Disabled</label>
  <input type="checkbox" [(ngModel)]="paperRadioButtonDisabled">
</div>
<div>
  <paper-radio-button [(checked)]="paperRadioButtonChecked"
      [(disabled)]="paperRadioButtonDisabled">Radio Button</paper-radio-button>
</div>

<h2>&lt;paper-radio-group&gt;</h2>
<div>
  <label>Selected</label>
  <select [(ngModel)]="paperRadioGroupSelected">
    <option value="small">Small</option>
    <option value="medium">Medium</option>
    <option value="large">Large</option>
  </select>
</div>
<div>
  <paper-radio-group allow-empty-selection
      [(selected)]="paperRadioGroupSelected"
      (selectedItemChange)="onPaperRadioGroupSelectedItem($event)">
    <paper-radio-button name="small">Small</paper-radio-button>
    <paper-radio-button name="medium">Medium</paper-radio-button>
    <paper-radio-button name="large">Large</paper-radio-button>
  </paper-radio-group>
</div>
