<h2>&lt;paper-checkbox&gt;</h2>
<div>
  <label>Checked</label>
  <input type="checkbox" [(ngModel)]="paperCheckboxChecked">
  <label>Disabled</label>
  <input type="checkbox" [(ngModel)]="paperCheckboxDisabled">
</div>
<div>
  <paper-checkbox [(checked)]="paperCheckboxChecked"
      [(disabled)]="paperCheckboxDisabled">Checkbox</paper-checkbox>
  <paper-checkbox [(ngModel)]="paperCheckboxChecked"
      [(disabled)]="paperCheckboxDisabled">Checkbox (NgModel)</paper-checkbox>
</div>

<h2>&lt;paper-dropdown-menu&gt;</h2>
<div>
  <label>Selected</label>
  <select [(ngModel)]="paperDropdownMenuSelectedLabel">
    <option>Croissant</option>
    <option>Donut</option>
    <option>Financier</option>
    <option>Madeleine</option>
  </select>
  <label>Disabled</label>
  <input type="checkbox" [(ngModel)]="paperDropdownMenuDisabled">
</div>
<div>
  <paper-dropdown-menu label="Your favorite pastry"
      [(ngModel)]="paperDropdownMenuSelectedLabel" [(disabled)]="paperDropdownMenuDisabled">
    <paper-listbox attr-for-selected="name">
      <paper-item name="Croissant">Croissant</paper-item>
      <paper-item name="Donut">Donut</paper-item>
      <paper-item name="Financier">Financier</paper-item>
      <paper-item name="Madeleine">Madeleine</paper-item>
    </paper-listbox>
  </paper-dropdown-menu>
</div>

<h2>&lt;paper-input&gt;</h2>
<div>
  <label>Value</label>
  <input [(ngModel)]="paperInputValue">
</div>
<div>
  <paper-input error-message="At least 5 characters" label="Paper Input" minlength="5"
      char-counter required [(ngModel)]="paperInputValue"></paper-input>
</div>

<h2>&lt;paper-listbox&gt;</h2>
<div>
  <label>Multi</label>
  <input type="checkbox" [(ngModel)]="paperListboxMulti">
  <div>
    <label>Selected: </label><span>{{paperListboxSelectedJson}}</span>
  </div>
</div>
<div>
  <paper-listbox [(ngModel)]="paperListboxSelected" [multi]="paperListboxMulti">
    <paper-item>Item 1</paper-item>
    <paper-item>Item 2</paper-item>
  </paper-listbox>
</div>

<h2>&lt;paper-radio-button&gt;</h2>
<div>
  <label>Checked</label>
  <input type="checkbox" [(ngModel)]="paperRadioButtonChecked">
  <label>Disabled</label>
  <input type="checkbox" [(ngModel)]="paperRadioButtonDisabled">
</div>
<div>
  <paper-radio-button [(checked)]="paperRadioButtonChecked"
      [(disabled)]="paperRadioButtonDisabled">Radio Button</paper-radio-button>
  <paper-radio-button [(ngModel)]="paperRadioButtonChecked"
      [(disabled)]="paperRadioButtonDisabled">Radio Button (NgModel)</paper-radio-button>
</div>

<h2>&lt;paper-radio-group&gt;</h2>
<div>
  <label>Selected</label>
  <select [(ngModel)]="paperRadioGroupSelected">
    <option value="small">Small</option>
    <option value="medium">Medium</option>
    <option value="large">Large</option>
  </select>
</div>
<div>
  <div>
    <paper-radio-group allow-empty-selection [(selected)]="paperRadioGroupSelected">
      <paper-radio-button name="small">Small</paper-radio-button>
      <paper-radio-button name="medium">Medium</paper-radio-button>
      <paper-radio-button name="large">Large</paper-radio-button>
    </paper-radio-group>
  </div>
  <div>
    <paper-radio-group allow-empty-selection [(ngModel)]="paperRadioGroupSelected">
      <paper-radio-button name="small">Small (NgModel)</paper-radio-button>
      <paper-radio-button name="medium">Medium (NgModel)</paper-radio-button>
      <paper-radio-button name="large">Large (NgModel)</paper-radio-button>
    </paper-radio-group>
  </div>
</div>

<h2>&lt;paper-slider&gt;</h2>
<div>
  <label>Value</label>
  <input type="range" min="0" max="50" [(ngModel)]="paperSliderValue">
  <label>Disabled</label>
  <input type="checkbox" [(ngModel)]="paperSliderDisabled">
</div>
<div>
  <paper-slider min="0" max="50"
      [(ngModel)]="paperSliderValue" [(disabled)]="paperSliderDisabled"></paper-slider>
</div>

<h2>&lt;paper-toggle-button&gt;</h2>
<div>
  <label>Toggled</label>
  <input type="checkbox" [(ngModel)]="paperToggleButtonValue">
  <label>Disabled</label>
  <input type="checkbox" [(ngModel)]="paperToggleButtonDisabled">
</div>
<div>
  <paper-toggle-button [(ngModel)]="paperToggleButtonValue"
      [(disabled)]="paperToggleButtonDisabled"></paper-toggle-button>
</div>
