<div class="forms">
  <div class="form">
    <pre><code>{{modelJson}}</code></pre>

    <h2>Hero Form (Angular)</h2>
    <form (ngSubmit)="onSubmit()" #ngForm="ngForm">
      <div>
        <label for="name">Name</label>
        <input #name="ngModel" id="name" name="name" type="text" required [(ngModel)]="model.name">
        <div [hidden]="name.valid || name.pristine">
          Name is required
        </div>
      </div>

      <div>
        <label for="alterEgo">Alter Ego</label>
        <input #alterEgo="ngModel" id="alterEgo" minlength="5" name="alterEgo" type="text"
            [(ngModel)]="model.alterEgo">
        <div [hidden]="alterEgo.valid || name.pristine">
          Must be at least 5 characters
        </div>
      </div>

      <div>
        <label for="power">Hero Power</label>
        <select #power="ngModel" id="power" name="power" required [(ngModel)]="model.power">
          <option *ngFor="let pow of powers" [ngValue]="pow">{{pow.name}}</option>
        </select>
        <div [hidden]="power.valid || power.pristine">
          Power is required
        </div>
      </div>

      <button type="button" (click)="newHero()">New Hero</button>
      <button type="submit" [disabled]="!ngForm.form.valid">Submit</button>
    </form>
  </div>
  <div class="form">
    <pre><code>{{modelJson}}</code></pre>

    <h2>Hero Form (Polymer)</h2>
    <form (ngSubmit)="onSubmit()" #polyForm="ngForm">
      <paper-input error-message="Name is required" label="Name" name="name" required
          [(ngModel)]="model.name"></paper-input>

      <paper-input error-message="Must be at least 5 characters"
          label="Alter Ego"
          minlength="5"
          name="alterEgo"
          char-counter [(ngModel)]="model.alterEgo"></paper-input>

      <paper-dropdown-menu error-message="Power is required" label="Hero Power" name="power"
          required [(ngModel)]="model.power">
        <paper-listbox attr-for-selected="value">
          <paper-item *ngFor="let pow of powers" [value]="pow">{{pow.name}}</paper-item>
        </paper-listbox>
      </paper-dropdown-menu>

      <div>
        <paper-button (click)="newHero()">New Hero</paper-button>
        <paper-button raised [disabled]="!polyForm.form.valid" (click)="polyForm.ngSubmit.emit()">
          Submit
        </paper-button>
      </div>
    </form>
  </div>
</div>
